/*Empleados*/
.team-box {
    display: flex;
    justify-content: center;
}
.team-box h1 {
    color: #9e3b3c;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.5rem;
}

.empleado-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 2rem 0 2rem 0;
}

.empleado-image {
    position: relative;
    height: 150px;
    width: 150px;
    margin-top: 15px;
}

.empleado-image .empleado-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.empleado-content {
    flex-basis: 100%;
}

.empleado-child-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

@media (min-width: 992px) {
    .empleado-content {
        flex-basis: 33.333333% !important;
    }
}
