.tituloPagina
{
    color: #FFDB99;
    background-color:#FF5DB2;
    width: 100%;
    height: 50px;
    font-size: 35px;
    font-family: 'Anton', sans-serif;
    padding-left: 30px;
}

.mapa
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
    margin-bottom: 50px;
}
iframe
{
    box-shadow: 10px 10px 25px #2a1768;
}