/*Caja contacto*/
.contact-wrap {
	width: 80%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

/*Informacion Contact*/
.contact-in {
	padding: 40px 30px;
	text-align: center;
}

.contact-in:nth-child(2) {
	flex: 45%;
}

/*Contact Title*/
.contact-in h1 {
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}

/*Contact icon*/
.contact-in h2 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
}

.contact-in h2 i {
	font-size: 16px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #f5f5f5;
	color: #000;
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
}

/*Contact Info*/
.contact-in p {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 20px;
}

/*Mapa*/
.contact-in iframe {
	width: 100%;
	height: 100%;
}

@media (max-width: 992px) {
	.contact-in:nth-child(1) {
		flex: 100%;
	}

	.contact-in:nth-child(2) {
		flex: 100%;
	}
}
