h2
{
    color: #FFDB99;
    background-color:#FF5DB2;
    width: auto;
    height: 50px;
    font-size: 35px;
    font-family: 'Anton', sans-serif;
    padding-left: 30px;
}

.imagenContenido
{
    width: 120px;
    height: 120px;
}

.imagenContenido img
{
    width: inherit;
    height: inherit;
}

.contenido
{
    margin: 20px;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #451F55;
    height: auto;
    width: auto;
    color: white;
}