/*Seccion de productos*/
#mechardasing 
{
  min-height: 150px;
}

@media (min-width: 1200px) 
{
  #mechardasing {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

/*Caja para foto+icono*/
#store-product 
{
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  padding: 50px 25px 0px 25px;
  justify-content: center;
  align-items: center;
}

/*Caja imagen*/
.product 
{
  flex-basis: 25%;

}

/*Caja para icono*/
.product-cart-box 
{
  color: #11122b;
  text-align: center;
  padding-top: 1.7rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

/*Icono*/
.cart-box-elem 
{
  flex-basis: 50%;
  padding: 0.5rem;
}

.cart-box-elem a 
{
  color: #9e3b3c;
  font-size: 2.2rem;
}

/*Caja columna para 4 */
#columna-box 
{
  min-height: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  padding-bottom: 50px;
}

/*Caja para cada los 2 elementos*/
.fotoInfo-box
{
  flex-basis: 100%;
  min-height: 15px;
  color: #11122b;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  margin-right: 25px;
}

@media (min-width: 992px) 
{
  .fotoInfo-box {
    flex-basis: 35%;
    align-items: center;
    padding: 0;
  }
}

/*Caja imagen*/
.foto-box
{
  flex-basis: 35%;
  text-align: center;
  align-items: center;
}

.foto-box img{
  width: 80px;
  height: 80px
}

/*Caja para la info*/
.info-box {
  flex-basis: 65%;
  font-size: 1rem;
  cursor: default;
  user-select: none;
  text-align: justify;
}

.info-box h4 
{
  font-size: 1.5rem;
  line-height: 22px;
  margin-bottom: 0.9rem;
  font-family: 'IBM Plex Sans', sans-serif;
}

.info-box span 
{
  display: block;
  font-family: 'IBM Plex Sans', sans-serif;
}
