.cabeceraProducto
{
    color: #FFDB99;
    background-color:#FF5DB2;
    width: auto;
    height: 50px;
    font-size: 35px;
    font-family: 'Anton', sans-serif;
    padding-left: 30px;
}

.imagenContenido
{
    width: 120px;
    height: 120px;
}

.imagenContenido img
{
    width: inherit;
    height: inherit;
}

.contenido
{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    height: auto;
    width: auto;
}