#cuerpo
{
    align-items: center;
}
#registro
{
    margin: 50px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    align-self: center;  
    box-shadow: 10px 10px 20px #000000;  
}
#registro>h2 
{
  margin-left: 1.5%;
  margin-top: 0%;
}
h1
{
    color: #9e3b3c;
    padding: 1.5rem;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
}

@media (min-width: 992px) 
{
  .formulary-box {
    width: 400px;
  }
}

@media (min-width: 992px) 
{
  #registro {
    width: 650px;
  }
}

@media (min-width: 992px) 
{
  .labelN input {
    width: 530px;
  }
}

#formulary-box
{
    display: flex;
    justify-content: center;
    width: 100%;


}
#formulario
{
  background-color: #fff;

}
.labelN
{
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
input
{
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 50px;
  border: 1px solid black;
}
.inputB > input , .inputB
{
  width: 250px;
  align-content: space-between;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.btn 
{
    display: block;
    background-color: #49494986;
    transform: translate(0%, 5%);
    width: 215px;
    margin-top: 25px;
    border: 3px solid #11122b;
    padding: -35px 37px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 25px;
}

.btn p 
{
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  margin-left: 30px;
  transition: all 0.5s ease;
}

.send 
{
  position: absolute;
  top: 15px;
  left: 30px;
  color: #fff;
  transition: all 0.5s ease;
}

.send2 
{
    position: absolute;
    top: 80px;
    left: 30px;
    color: #9e3b3c;
    transition: all 0.5s ease;
}

.btn:hover 
{
  background: #11122b;
  transition: all 0.5s ease;
}

.btn:hover p 
{
  color: #9e3b3c;
  transition: all 0.5s ease;
  animation: move 1s linear 1s forwards;
}

.btn:hover .send 
{
  top: -50px;
  transition: all 0.5s ease;
}

.btn:hover .send2 
{
  top: 15px;
  transition: all 0.5s ease;
  animation: sending 1s linear 1s forwards;
}

@keyframes sending 
{
  0% {transform: translateY(0);}
  100% {transform: translate(40px, -60px);}
}

@keyframes move 
{
  0% {transform: translateX(0);}
  100% {transform: translateX(-18px);}
}
