
#registro
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;    
    align-self: center;    
}

h1
{
    color: #9e3b3c;
    padding: 1.5rem;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
}

label
{
    color: #9e3b3c;
    padding: 2px;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
}