/* Body styles */
body {
    margin: 0px;
    width:100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
#cuerpo {
  display: flex;
  height: 60vh;
}
/* Encabezado*/
.encabezado {
  min-height: 180px;
  background-color: #11122b;
  color: #cbcbcb;
  /* Flexbox*/
  display: flex;
  justify-content: space-between;
  padding: 5px 100px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.encabezado > .logo {
  display: flex;
  justify-content: center;
}

.encabezado > .logo img {
  width: calc(9vw + 30px);
  height: auto;
}

/*Menu style*/
#menu
{
  position: relative;
  min-height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

#menu ul
{
  list-style-type: none;
}

#menu li
{
  float:left;
}

#menu li a
{
  text-align: center;
  display: inline-block;
  color: white;
  font-family: 'Oswald';
  font-style: normal;
  padding: 13px 30px;
  text-decoration: none;
}

/*Submenus*/
#menu li ul li
{
  display: none;
  position: absolute;
  margin-left: -25px;
  background-color: #11122b;
}

#menu li ul li:hover
{
    background-color: #9e3b3c;
    color:  rgb(220, 220, 220);
}

#menu li:hover ul li
{
  display: block;
  z-index: 1;
  left: 404px;
}

#menu li ul li a
{
  width: 100px;
}

#menu li ul li:nth-child(2)
{
  margin-top: 46px;
}

#menu li ul li:nth-child(3)
{
  margin-top: 88px;
}

#menu .active
{
  background-color: #9e3b3c;
  height: 45px;
}

/*Footer*/
.footer {
  background-color: #11122b;
  color: #cbcbcb;
  font-family: "Ubuntu Condensed", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  margin-top: -4px;
}

.footer > .social-media-icons-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.footer > .social-media-icons-wrapper a {
  font-size: 1.5em;
  color: #cbcbcb;
  transition: 0.5s;
}

.footer > .social-media-icons-wrapper a:hover {
  color: #9e3b3c;
}

/*Footer COPYRIGHT*/
.footer > .copyright-wrapper {
  margin-bottom: 42px;
  font-size: 0.7em;
  color: #858585;
}

