/* Body styles */
body {
    margin: 0px;
    width:100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}
#cuerpo {
  display: flex;
  height: 60vh;
}
/* Encabezado*/
.encabezado {
  min-height: 180px;
  background-color: #11122b;
  color: #cbcbcb;
  padding-left: 50px;
  padding-right: 50px;
  /* Flexbox*/
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.encabezado > .logo {
  display: flex;
  justify-content: center;
}

.encabezado > .logo img {
  width: calc(9vw + 30px);
  height: auto;
}


#menu li ul .activodelactivo
{
  background-color: #5e5e5e;
}
/*Menu style*/

#menu
{
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul, ol {
    list-style:none;
    display: flex;
    padding: 0%;
}
#menu > li {
    width: 110px;
    text-align: center;
}

#menu li a {
    color: rgb(255, 255, 255);
    text-decoration:none;
    size: 70px;
    padding:15px;
    display:block;
}

#menu li:hover {
    background-color:#9e3b3c;
    color: black;
}

#menu li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

#menu li:hover > ul {
    display:block;
}
#menu li ul li{
    z-index: 1;
    position:relative;
    background-color: #11122b;
    color: white;
}


#menu li ul li ul {
    right:-140px;
    top:0px;
    flex-wrap: wrap;
}
#menu .active
{
    background-color: #696969;
}
#menu .active a
{
  color: #ffffff;
}
#menu .active a:hover
{
    background-color: #9e3b3c;
    color: #000000;
}

/*Footer*/
.footer {
  background-color: #11122b;
  color: #cbcbcb;
  font-family: "Ubuntu Condensed", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150px;
  margin-top: 90px;
}

.footer > .social-media-icons-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 300px;
  display: flex;
  justify-content: space-around;
}

.footer > .social-media-icons-wrapper a {
  font-size: 1.5em;
  color: #cbcbcb;
  transition: 0.5s;
}

.footer > .social-media-icons-wrapper a:hover {
  color: #9e3b3c;
}

/*Footer COPYRIGHT*/
.footer > .copyright-wrapper {
  margin-bottom: 42px;
  font-size: 0.7em;
  color: #858585;
}
